@font-face {
    font-family: 'Neutral Face Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neutral Face Regular'), url('NeutralFace.woff') format('woff');
}


@font-face {
    font-family: 'Neutral Face Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Neutral Face Bold'), url('NeutralFaceBold.woff') format('woff');
}

/* CSS reset begin */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overflow-x: hidden;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* CSS reset end */

* {
    font-family: "Jost", Helvetica, Arial, sans-serif;
    font-weight: 300;
    --main-bg-color: #dad2b8;
    --main-text-color: black;
    --highlight-text-color: black;
    --light-text-color: #dad2b8;

}

#homepage {
    transition: 0.8s;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.dark-mode,
.dark-mode * {
    --main-bg-color: black;
    --main-text-color: #9E9576;
    --highlight-text-color: #dad2b8;
}

/*#homepage body {
        background-image: url(images/gnaw/Sullivan_Blueprint1.jpg);
    background-attachment: fixed;
    background-size:50%;
    background-repeat: no-repeat;
}*/
#homepage.overlay-open {
    background: black;
    overflow: hidden;
}

#homepage.overlay-open-light {
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    padding: 0.5em 1em 0 0.5em;
}

nav * {
    font-family: 'Neutral Face Bold';
    text-transform: uppercase;
    letter-spacing: 0.14em;
    text-decoration: none;
}

hr {
    margin: 2em 0;
    color: #887f60
}

img {
    max-width: 100vw;
    max-height: 100vh;
    height: auto;
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
.split-text,
.split-text * {
    font-family: 'Neutral Face Bold';
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h1 {
    font-size: clamp(15px, 3.5rem, 10vw);
    line-height: 1.3em;
}

.split-text {
    font-size: clamp(15px, calc(3.1rem + 6vw), 13vw);
    letter-spacing: 0.03em;
    line-height: 1.1;
    z-index: 9999;
    pointer-events: none;
}

body {
    font-size: 1.2rem;
}

.home-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10vh;
}

.project-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 2em;
    margin-top: -40vh;
    margin-right: 5%;
    font-size: 1rem;
    flex-wrap: wrap;
    gap: 3em;
    position: relative;
    flex-wrap: wrap;
    max-width: 100vw;
}

.project-text {
    width: clamp(40ch, 40%, 50ch);

}

.project-text p:first-of-type {
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .project-info {
        margin-right: 5%;
    }
}


.work-thumb {
    width: clamp(380px, 50vw, 49em);
    max-width: 100%;
    height: auto;
    align-self: flex-start;
    margin: 0;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: -9999;
}

.work-thumb:hover {
    opacity: 0.5;
}

.view-note {
    position: relative;
}

.view-note p {
    width: 100%;
    margin: 1em;
    margin-top: -2em;
    position: absolute;
    font-family: "Neutral Face Bold", Arial, Helvetica, sans-serif;
    color: var(--light-text-color);
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-weight: 500;
}


.usage-note p {
    mix-blend-mode: difference;
}

.cling-note p {
    color: black;
}

.split-text {
    text-align: left;
    min-width: 100vw;
    padding: 10vh 0 50vh 0;
    margin: -3vh 0;
    margin-left: 5%;
    transition: 1s;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    transition: font-size 3s ease-in-out, letter-spacing 3s ease-in-out;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer;
}

.char {
    color: var(--main-text-color)
}

.home-title-wrapper {
    position: relative
}

.home-title-wrapper h2 {
    margin: 0;
}

.split-text.expanded {
    font-size: 100vw;
    letter-spacing: 0.2em;
}

.home-title-wrapper a {
    text-decoration: none;
    transition: 1s;
}

.home-title-wrapper a:hover h2 span {
    transform: scale(5)
}


.minders-home-title {
    margin-top: 0;
    padding-top: 30vh;
    z-index: -1;
}

.dos-home-title {
    white-space: pre-line;
}

.curatorial-page {
    background-color: black;
}

.curatorial-page {
    color: #9E9576;
    min-height: 200vh;
}

@media screen and (min-width: 768px) {
    .curatorial-page {
        background-image: url("images/postcard_lynn-bg.jpg");
        background-size: 60%;
        background-attachment: fixed;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.curatorial-statement {
    margin: 6em 3vw;
    max-width: 65ch;
}

nav a,
.curatorial-page nav a,
nav p {
    transition: color 0.3s;
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {

    nav a,
    .curatorial-page nav a,
    nav p {
        font-size: 1rem;
    }

    nav {
        gap: 0.5em;
    }
}

nav p {
    margin: 0;
    padding: 0;
}

.curatorial-page nav {
    justify-content: flex-end;
    gap: 5vw;
}

.curatorial-page nav a:hover {
    color: #dfd2a6;
}

nav a:hover {
    color: #887f60;
}

.curatorial-statement h1 {
    white-space: pre;
}

@media screen and (max-width: 768px) {
    .curatorial-statement h1 {
        white-space: normal;
    }
}

.scroll-prompt p {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
}

.scroll-prompt {
    position: fixed;
    bottom: 0;
    right: 0.2em;
    z-index: 99999;
}

@media screen and (min-width: 768px) {
    .scroll-prompt {
        right: 0;
    }
}

.scroll-line {
    margin-left: 1rem;
    width: 1px;
    height: 70px;
    background-color: var(--main-text-color);
    margin-top: 10px;
}

.scroll-icon {
    display: block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: 1px solid #000;
    border-radius: 1em;
}

.grid {
    display: flex;
    flex-direction: column;
}

.grid__item {
    place-items: center;
    display: grid;
}

.blueprint-container {
    z-index: 99;
    height: 50vh;

}

.blueprint1 {
    left: 3%;
    margin-top: -20vh
}

.blueprint2 {
    right: 8%;
    margin-bottom: -10%
}

.blueprint3 {
    left: 30%;
    margin-top: -10vh
}

.blueprint4 {
    right: -2%;
    margin-bottom: -20%
}

.blueprint5 {
    left: 3%;
    margin-bottom: -3%
}

.blueprint6 {
    right: 2%;
    margin-top: -13%
}

.blueprint7 {
    left: -2%;
    margin-top: -12%
}

.blueprint8 {
    right: 20%;
    margin-top: -5%
}

@media screen and (max-width: 768px) {
    .blueprint-container {
        height: 40vh;
    }

    .blueprint1 {
        margin-top: 40%;
    }

    .blueprint2 {
        margin-top: 0;
    }

    .blueprint3 {
        margin-top: 30%;
    }

    .blueprint4 {
        margin-top: 0;
    }

    .blueprint5 {
        margin-top: 20%;
    }

    .blueprint6 {
        margin-top: 0;
    }

    .blueprint7 {
        margin-top: 1em;
    }

    .blueprint8 {
        margin-top: 30%;
    }
}

.blueprint-container.blueprint-container-no-height {
    height: auto;
}

.video-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-height: 80vh;
    height: auto;
    width: 100%;
    align-self: center
}

.video-16-9 {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    z-index: 50;
}

.video-4-3 {
    aspect-ratio: 4/3;
    width: 80%;
    position: relative;
    z-index: 50;
}


/* Overlay */


dialog[open] {
    background: black;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.8s ease normal;
    display: flex;
}

dialog::backdrop {
    background-color: black;
}

dialog#gnaw-overlay {
    animation: none;
}

dialog#gnaw-overlay[open] {
    height: fit-content;
    background: transparent;
}

dialog#gnaw-overlay::backdrop {
    background-color: transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

dialog:not([open]) {
    display: none !important;
}

.close-btn {
    color: #dfd2a6;
    padding: 1em;
    position: absolute;
    top: 1em;
    left: 1em;
}

@media screen and (max-width: 768px) {
    .close-btn {
        right: 1em;
        left: auto;
    }
}

/* Floating images */
.hidden {
    display: none;
}

.floating-img {
    width: clamp(180px, 20vw, 600px);
    height: auto;
    animation: drift 30s ease-in-out infinite alternate;
}

@keyframes drift {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(2em, -2em) rotate(5deg);
    }

    50% {
        transform: translate(-1em, 2em) rotate(-10deg);
    }

    75% {
        transform: translate(1.5em, 2.5em) rotate(5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@media (prefers-reduced-motion: reduce) {
    .floating-img {
        animation: none;
    }

    dialog[open] {
        animation: none;
    }

    .split-text {
        transition: none;
    }
}

.blueprint1>img {
    animation-duration: 32s;
    animation-delay: 0s;
}

.blueprint2>img {
    animation-duration: 28s;
    animation-delay: 14s;
}

.blueprint3>img {
    animation-duration: 34s;
    animation-delay: 2s;
}

.blueprint4>img {
    animation-duration: 30s;
    animation-delay: 30s;
}

.blueprint5>img {
    animation-duration: 36s;
    animation-delay: 3s;
}

.blueprint6>img {
    animation-duration: 29s;
    animation-delay: 23s;
}

.blueprint7>img {
    animation-duration: 33s;
    animation-delay: 5s;
}

.blueprint8>img {
    animation-duration: 31s;
    animation-delay: 40s;
}

.gnaw-img-large {
    width: auto;
}

.gnaw-container {
    height: clamp(20vh, 30rem, 50vh);
    width: 100vw;
    position: relative;
    pointer-events: all;
}

.floating {
    transition: transform 0.4s;
    position: absolute;
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.floating:hover {
    transform: scale(1.1)
}

@media (prefers-reduced-motion: reduce) {
    .floating:hover {
        transform: none;
    }
}

.gnaw-img-large {
    margin: 0 auto;
    /*align-self: center;*/
}

#gnaw-overlay {
    display: flex;
    padding: 0;
    border: none
}

#gnaw-overlay .close-btn {
    color: var(--main-text-color);
}